body {
    height: 97vh;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 5vw;
    font-family: Zeyada, sans-serif;
    background-color: lightgrey;
}

.resultsBlock {
    flex:1;
    display:flex;
    flex-direction: column;
    /*align-items: stretch;*/
    min-height: 50vh;
    font-size: 7vw;
}

#resultsBlockNew {
    min-height: 70vh;
    font-size: 4vw;

}

.results {
    flex:1;
    min-height: 20vh;
    display:flex;
    justify-content: space-evenly;
    background-color: lightgrey;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: auto;
}

.vs {
    flex: 1;
    min-height: 0;
    align-self: flex-start;
    color: orange;
    font-size: 200%;
    padding-left: 60px;
    padding-right: 60px;
}

.resultsMessage {
    font-size: smaller;
    color:lightgrey;
    background-color: rgb(88, 87, 87);
    flex: 1;
    min-height: 10vh;
}

.choicesContainer {
    flex:1;
    height:25vh;
    min-height: 0;
    background-color: orange;
    padding: 10px;
    display:flex;
    flex-direction: column;
    font-size: 4vh;

}
.buttonContainer {
    display:flex;
    justify-content: space-evenly;
    gap: 30px;
    flex: 1;
    min-height: 0;
}

button {
    flex: 1;
    min-height: 0;
    background-color: white;
    justify-content: center;
    align-content: center;
    width: 95px;
    padding: 0px;
    margin: 10px;
    transition: all .07s ease;
}

img {
    width: 90px;
    height: auto;
}

.finalResultBlock{
    display:flex;
    background-color:rgb(88, 87, 87);
    min-height: 10vh; 
    flex:1;
}

.finalResultMessage {
    color: orange;
    background-color:rgb(88, 87, 87);
    text-align: center;
    flex: 3;
   
}

.replayButton {    
    background-color: lightgrey;
    font-family: Zeyada, sans-serif;
    font-weight: bold;
    font-style: italic;
    float: right;
    width:25%;
    padding: 10px;    
}