body {
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 60px;
    font-family: Zeyada, sans-serif;
    background-color: lightgrey;
}

.resultsBlock {
    flex:1;
    display:flex;
    flex-direction: column;
    align-items: stretch;
}

.results {
    flex:1;
    display:flex;
    justify-content: space-evenly;
    background-color: lightgrey;
    padding: 30px;
    margin-bottom: auto;
}

.vs {
    align-self: center;
    color: orange;
    font-size: 120px;
    padding-left: 60px;
    padding-right: 60px;
}

.resultsMessage {
    font-size: smaller;
    color:lightgrey;
    background-color: rgb(88, 87, 87);
    align-self: stretch;
}

.choicesContainer {
    flex:1;
    background-color: orange;
    padding: 60px;
    display:flex;
    flex-direction: column;

}
.buttonContainer {
    display:flex;
    justify-content: space-evenly;
    gap: 30px;
    
}

button {
    display:flex;
    flex: 1;
    background-color: white;
    justify-content: center;
    align-content: center;
    width: 95px;
    padding: 30px;
    transition: all .07s ease;
}

img {
    width: 90px;
    height: auto;
}

.finalResultMessage {
    color: orange;
    background-color:rgb(88, 87, 87);
    text-align: center;
    
}

.replayButton {
    
    background-color: lightgrey;
    /*font-family: Zeyada, sans-serif;
    font-size: larger;*/
    font-style: italic;
    float: right;
    

    
}